

body{
	margin: 0px;
	color:#333333;
	font-family: 'Open Sans', sans-serif;

}

nav{
	margin-top:0px;
    text-align: center;
}
li{
        display:inline;
		list-style-type:none;
		margin-left:0px;
		margin-right:0px;
		text-transform: uppercase;
		padding:15px;

}
nav a{
text-decoration:none;
}

nav ul .first{
	color:white;
	background-color:#c12727;
}

nav ul li:hover{
	color:white;
	background-color:#c12727;
}
.bold, a{
	font-weight:bold;
}
.part{
    padding-bottom:50px;
    padding-top:20px;
}
.titlePart {
    color:#d92c2e;
    margin-bottom:4%;
	margin-top:1%;

}
.titlePart1 {
    margin-bottom:3px;
}

hr{
	width:8%;
	border-color:#d92c2e;
	border-width:0.5px;


}
nav a{
	color:white;
}

.home{

	padding-top:0.1px;
	text-align:center;
	background-color:#d92c2e;
}

.profilImg{
	width:200px;
	border-radius:10%;
}

.portfolio{
	text-align:center;
}

.contact{
	text-align:center;
	background-color:#f7f9f8 ;
	border-bottom:solid #d92c2e 5px;;
}

.about{
	text-align:center;
}

p , .competence {
	margin-left:15%;
	margin-right:15%;

}

.contentLogo{
	width:100%;
	border-width:0.1px;

}


p{
	text-align:left;
	margin-top:3%;
	color:gray;
}

 .formulaire {
	margin-left:22%;
	margin-right:22%;
 }



.skills{
	text-align:center;
	background-color:#d92c2e;
}

.skills h1{
   color:white;
}
.skills .val{
	font-size:40px;
}

.skills .val:hover{
	font-size:55px;
}

.skills .percent{
 display:flex;
 justify-content:center;
 align-items:center;
}

.skills .alig{
	display:flex;
	flex-direction:column;
	align-items:center;
	
}

.competence{
	display:flex;
	justify-content:space-around;
	flex-wrap: wrap;
}
.percent{
	border-color:white;
	border-width:4px;
	border-style:solid;
	border-radius:50%;
	width:150px;
	height:150px;
	margin-bottom:13px;
	
}



footer{
	background-color:#363b3f;
	text-align:center;
	color:white;
}

.inp{
	text-transform: uppercase;
	padding:15px;
	border-width:0.5px;
	border-style:solid;
}


.inpRed {

    background-color:#d92c2e;
    border-color:white;
    color:white;
}


.inpText{
	margin-bottom:20px;
    width: 50%;
}

.inpMargin{
    margin-right:20px;	
}
input{
	border-width:0.5px;
	border-style:gray;
	padding:15px;
}

#download:hover, #send:hover {
	background-color:#333333;
	color:white;
	border-color:#333333;
}

.BF{
	display:flex;
    
}



.BF2{
	display:flex;
}



.msg{
		padding:30px;
        width: 100%;
}

.social{
	display:flex;
	justify-content:center;
}
.Reseau{
	width:35px;
	height:35px;
	background-color: #464749;
	margin-left:3px;
	margin-right:3px;
	border-radius:1px;
	margin-top:25px;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
}

.fas{
	font-size:80px;
	color: #d92c2e;
	padding-top:30px;
}

.far{
	font-size:15px;
	padding-right:3px;
	color: white;	
}

.Reseau-instagram:hover{
		background-color: #ec407a;
}
.Reseau-facebook-f:hover{
		background-color: #18398c;
}
.Reseau-dribbble:hover{
		background-color: #f26798;
}
.Reseau-behance:hover{
		background-color: black;
}
.Reseau-linkedin-in:hover{
		background-color: #006699;
}
.Reseau-twitter:hover{
		background-color: #1da1f2;
}
.Reseau-tumblr:hover{
		background-color: #314358;
}
.Reseau-youtube:hover{
		background-color: #ff0000;
}
.Reseau-vimeo-v:hover{
		background-color: #14b6e9;
}







/* Media Queries */
@media screen and (max-width: 37.8125em){
.competence{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.BF{
display: flex;
flex-wrap: wrap;
}

.inpText{

    width: 100%;
}

}